.button_1{
    background-color: #fed330;
    height: 50px;
    width: 150px;
}

.button_2{
    background-color: #26de81;
    height: 50px;
    width: 150px;
}

.button_3{
    background-color: #eb3b5a;
    height: 50px;
    width: 150px;
}

.button_4{
    background-color: #4b7bec;
    height: 50px;
    width: 150px;
}

.button_5{
    background-color: #4b6584;
    height: 50px;
    width: 150px;
}